.rune-panel {
    padding: 10px;
}

.rune-panel-label {
    vertical-align: middle;
    margin-right: 20px;
}


.AbilityButton.red {
    background-color: #6D4A4E;
    border: 1px solid #9b6369;
    transition-property: background-color, border;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.AbilityButton.red:hover {
    background-color: gradient( linear, 0% 0%, 70% 0%, from( #be4f5c), to( #913943));
    border: 1px solid #eb5f70;
}

.AbilityButton.green {
    background-color: #42705B;
    border: 1px solid #4e9e7a;
    transition-property: background-color, border;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.AbilityButton.green:hover {
    background-color: gradient( linear, 0% 0%, 70% 0%, from( #3cc486), to( #259c67));
    border: 1px solid #3feb9d;
}

.AbilityButton Label {
    horizontal-align: center;
    vertical-align: middle;
    color: #D8DADE;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: defaultFont;
    font-weight: normal;
    text-overflow: shrink;
    letter-spacing: 1px;
}

.AbilityButton:hover Label {
    color: #FFF;
}