
.fc-mailbox {
    border: 1px solid #5e6869;
    background-color: #181818dd;
    box-shadow: #000000aa 0px 0px 8px 0px;
    width: 900px;
    height: 750px;
    vertical-align: top;
    horizontal-align: center;
    margin-top: 100px;
    flow-children: right;
    opacity: 1;
    transform: translateX( 0) translateY( 0);
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0.0s;
}

.fc-mailbox.minimized {
    opacity: 0;
    transform: translateX( 0) translateY( -150px);
}

.fc-mailbox-left {
    width: 300px;
    height: 100%;
    padding: 20px;
    border-right: 1px solid #5e6869;
    flow-children: down;
    overflow: squish scroll;
}

.fc-mailbox-right {
    width: 700px;
    height: 100%;
    padding: 20px;
    flow-children: down;
}

.fc-mailbox-mail {
    border: 1px solid #5e6869;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    flow-children: down;
}

.fc-mailbox-mail-title {
    color: gradient( linear, 0% 0%, 100% 0%, from( #c0f8ff), color-stop(0.5, #bbfbff), to( #c0f8ff));
    font-size: 20px;
}

.fc-mailbox-mail-excerpt {
    color: #aaa;
    margin-top: 5px;
    font-size: 18px;
}

.fc-mailbox-mail-read {
    color: #aaa;
    margin-top: 5px;
    font-size: 16px;   
}

.fc-mailbox-mail-date {
    color: #aaa;
    margin-top: 5px;
    font-size: 16px; 
    horizontal-align: right;
}

.fc-mailbox-mail-content {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.fc-mailbox-button {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #222222), to( #4B555D));
    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: cover;
    border: 1px solid #83838390;
    margin: 8px;
    width: 110px;
    padding: 10px 30px;
    horizontal-align: right;
    opacity: 1;
    transition-property: background-color, wash-color ,opacity;
    transition-delay: 0.0s;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.fc-mailbox-button.minimized {
    opacity: 0;
}

.fc-mailbox-button:hover {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #58636e), to( #53626e));
}

.fc-mailbox-button Label {
    color: white;
    font-size: 20px;
    horizontal-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    text-overflow: shrink;
    text-shadow: 0px 0px 5px 3.0 #000000;
    font-weight: semi-bold;
    letter-spacing: 1px;
}