.fc-root {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

.fc-root.minimized {
    opacity: 0;
}

.fc-tool {
    vertical-align: middle;
    horizontal-align: left;
    flow-children: down;
    height: 790px;
    width: 442px;
    font-size: 16;
    background-color: #181818dd;
    border: 2px solid #222222;
    box-shadow: #000000aa 0px 0px 8px 0px;
    transform: translateX( 0%) translateY( -100px);
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}

.fc-tool.minimized  {
    opacity: 0;
    transform: translateX( -442px) translateY( -100px);
}

.fc-tool-head {
    width: 100%;
    background-color: #181818;
    border: 2px solid #111111;
}

.fc-tool-head Label {
    font-size: 18px;
    color: #666666;
    margin: 6px;
}

.fc-tool-head Button {
    width: 24px;
    height: 24px;
    wash-color: #888888;
    horizontal-align: right;
    background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 4px;
    transition-property: wash-color, pre-transform-scale2d, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.fc-tool-head Button:hover {
    wash-color: #fff;
}

.fc-tool-content {
    flow-children: down;
    width: 442px;
    padding: 0 10px 20px 4px;
    overflow: squish scroll;
}

.fc-tool-row {
    flow-children: right;
    margin: 0;
    width: 100%;
}

.fc-tool-row-title {
    flow-children: down;
    horizontal-align: left;
    margin: 5px;
    font-size: 16px;
    color: #888888;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    min-width: 100%;
}

.fc-tool-button {
    background-color: #3e4144;
    border: 1px solid #4e5155;
    width: fill-parent-flow( 1.0);
    transition-property: background-color, border, color;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    margin: 4px;
    padding: 4px;
}

.fc-tool-button:hover {
    background-color: gradient( linear, 0% 0%, 70% 0%, from( #676b70), to( #3e4144));
    border: 1px solid #686b70;
}

.fc-tool-button Label {
    horizontal-align: center;
    vertical-align: middle;
    color: #D8DADE;
    font-size: 17px;
    text-transform: uppercase;
    font-family: defaultFont;
    font-weight: normal;
    text-overflow: shrink;
    letter-spacing: 1px;
}

.fc-tool-button Label.english {
    min-height: 40px;
}

.fc-tool-button:hover Label {
    color: #FFF;
}

.fc-tool-button.green {
    background-color: #42705B;
    border: 1px solid #4e9e7a;
    transition-property: background-color, border;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.fc-tool-button.green:hover {
    background-color: gradient( linear, 0% 0%, 70% 0%, from( #3cc486), to( #259c67));
    border: 1px solid #3feb9d;
}

.fc-tool-button.red {
    background-color: #6D4A4E;
    border: 1px solid #9b6369;
    transition-property: background-color, border;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.fc-tool-button.red:hover {
    background-color: gradient( linear, 0% 0%, 70% 0%, from( #be4f5c), to( #913943));
    border: 1px solid #eb5f70;
}

.fc-tool-button.green {
    background-color: #42705B;
    border: 1px solid #4e9e7a;
    transition-property: background-color, border;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.fc-tool-button.green:hover {
    background-color: gradient( linear, 0% 0%, 70% 0%, from( #3cc486), to( #259c67));
    border: 1px solid #3feb9d;
}

.fc-tool-button.blue {
    background-color: #35495f;
    border: 1px solid #4e78a1;
    transition-property: background-color, border;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.fc-tool-button.blue:hover {
    background-color: gradient( linear, 0% 0%, 70% 0%, from( #3e87cf), to( #2765a7));
    border: 1px solid #499bdf;
}

#CancelButton {
    horizontal-align: right;
    width: 14px;
    height: 14px;
}

.tool_input {
    border: 0px solid transparent;
    width: 300px;
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    padding: 1px;
    color: white;
    font-size: 20px;
    text-overflow: clip;
    white-space: nowrap;
}

.inputContainer {
    horizontal-align: center;
    vertical-align: center;
    border: 1px solid #fff;
    padding: 10px;
    background-color: rgba(0, 0, 0, .8);
    flow-children: down;
    visibility: collapse;
}

.tool_input_label {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

.tool_input:hover {
    background-color: #000000ff;
}

.input_button {
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #fff;
    width: 80px;
    margin-right: 10px;
}

.input_button_label {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.fc-info {
    width: 500px;
    max-height: 880px;
    background-color: #181818dd;
    border: 2px solid #222222;
    box-shadow: #000000aa 0px 0px 8px 0px;
    flow-children: down;
    vertical-align: middle;
    horizontal-align: right;
    transform: translateX( 0%) translateY( -50px);
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
}
  
.fc-info.minimized {
    opacity: 0;
    transform: translateX( 510px) translateY( -50px);
}

.fc-info-head {
    width: 100%;
    background-color: #181818;
    border: 2px solid #111111;
}

.fc-info-head Label {
    font-size: 18px;
    color: #666666;
    margin: 6px;
}

.fc-info-head Button {
    width: 24px;
    height: 24px;
    wash-color: #888888;
    horizontal-align: right;
    background-image: url("s2r://panorama/images/control_icons/x_close_grey_psd.vtex");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 4px;
    transition-property: wash-color, pre-transform-scale2d, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease-in;
}

.fc-info-head Button:hover {
    wash-color: #fff;
}

.fc-info-body {
    flow-children: down;
    width: 100%;
    padding: 10px;
    overflow: squish scroll; 
}

.fc-info-row {
    width: 100%;
    font-size: 18px;
    flow-children: right;
    padding: 5px;
}

.fc-info-cow {
    width: fill-parent-flow( 1.0);
    flow-children: right;
}

.fc-info-cow-left {
    width: 120px;
    margin-right: 20px;
    text-align: right;
    color: gradient( linear, 0% 0%, 100% 0%, from( #c0f8ff), color-stop(0.5, #bbfbff), to( #c0f8ff));
    text-shadow: 0px 0px 16px 1.0 #3bb3ff22; 
}

.fc-info-cow-right {
    flow-children: right-wrap;
    color: #aaa;
}